
.inputLabel {
    color:#888;
    padding: 8px 10px;
    background-color: #f1f2f4;
    border:1px solid #eee;
    font-weight: 400;
}
.inputLabel:hover {
    color:#666;
    background-color: #f3f4f5;
    border:1px solid #ddd;
    font-weight: 400;
    cursor: pointer;
}
.cropInputs {
 position: fixed;
 top:0;
 left: auto; 
 right:0; 
 width: 350px;
 height: 100vh;
 background-color: #e7e8e8;
 text-align: center;
}
.inputtools p {text-indent: 1rem;}
.inputtools p span {display: block; min-width: 40px; height: 40px; float: left; color:#2aaebf}
.inputtools p span img {width: 40px;height: auto; line-height: 40px;}
.cropButtons {
    border: 1px solid #2aaebf;
    width: 40px;
    height: 40px; 
    border: 2px solid #2aaebf;
    border-radius: 50%;
    color:#2aaebf;
    text-align: center;
    cursor: pointer;
background: transparent; /* Old browsers */
}
.cropButtons img {width: 25px;}
/* input styles */

#croppedImg{    background: #fff;
    padding: 10px;
    border: 1px solid #eee; width: 200px; height: 200px}

.cropRange {
	width: calc(100% - 20px);
	height: 5px;
	background: #333;
	position: relative;
	top: -4px;
    left: 4px;
    margin: 0.7rem;	
	
	background: #fff;
	background: -moz-linear-gradient(left, #fff 0%, #fff 50%, #2aaebf  100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fff), color-stop(50%,#fff), color-stop(100%,#2aaebf ));  
        background: -webkit-linear-gradient(left, #fff 0%,#fff 50%,#2aaebf  100%);
	background: -o-linear-gradient(left, #fff 0%,#fff 50%,#2aaebf  100%);
	background: -ms-linear-gradient(left, #fff 0%,#fff 50%,#2aaebf 100%);
	background: linear-gradient(left, #fff 0%,#fff 50%,#2aaebf  100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#2aaebf',GradientType=1 );	
	
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}

input[type="range"] {
	-webkit-appearance: none;
	background-color: black;
	height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 20px;
	height: 20px;
	cursor: pointer;
	border: 2px solid rgb(56, 59, 59);
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
    /* background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb)); */
    background-color: rgb(176, 196, 195);
}

input[type="range"]:hover ~ #rangevalue,input[type="range"]:active ~ #rangevalue {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	top: -75px;
}

input[type="range"]:focus{
  outline:none;
}

#cropSubmit {
    margin-top: 1rem;
    border-radius: 0px;
    cursor: pointer;
    border: 0px solid #000;
    background: #2aaebf ; /* Old browsers */
  
    color: #fff;
    padding:0.5rem 1rem; 
}

#closeCrop {
    margin-top: 1rem;
    border-radius: 0px;
    cursor: pointer;
    border: 1px solid #2aaebf ;
    background: transparent; /* Old browsers */
 
    color: #2aaebf;
    padding:0.5rem 1rem; 
}