/*=======================================
Template Design By MarkUps.
Author URI : http://www.markups.io/
========================================*/
.login:hover,
.login:focus{
  background-color: #2aaebf; 
}

.navbar-brand {
  color: #fff !important; 
  background-color: #2aaebf !important; 
}

.navbar-brand:hover,
.navbar-brand:focus{
  color: #fff !important;  
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #2aaebf !important;  
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: rgba(37,37,37,1);
}

.main-nav > li > a:hover::before,
.navbar-default .navbar-nav > .active > a::before,
.navbar-default .navbar-nav > .open > a:hover::before {
  background-color: #2aaebf; 
}

.main-nav .dropdown:hover .dropdown-toggle{ 
  color: #2aaebf; 
}

.main-nav .dropdown:hover .dropdown-toggle::before{
  background-color: #2aaebf;
  color: #2aaebf; 
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {  
  color: #2aaebf;
}

.navbar-nav > li > .dropdown-menu {
  border-top: 2px solid #2aaebf;  
}

.navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-nav > li > .dropdown-menu > li > a:focus{ 
  color: #2aaebf;
}

.main-slider .slick-prev:hover,
.main-slider .slick-next:hover{
  background-color: #2aaebf;
}

.main-slider .slick-dots li button::before {
  color: #2aaebf;    
}

.read-more-btn:hover,
.read-more-btn:focus{
  background-color: #2aaebf;  
}

.title-area .title {
  color: #1d1d1d;  
}

.single-feature .feature-icon {
  color: #2aaebf;
}

.feat-title{
  color: #2aaebf;
}

.our-skill h3{
  color: #2aaebf;
}

.our-skill h3::after {
  background-color: #2aaebf;
}

.our-skill-content .progress-bar {
  background-color: #2aaebf;    
}

.why-choose-us h3{
  color: #2aaebf;  
}

.why-choose-us h3::after {
  background-color: #2aaebf;  
}

.panel-title > a:hover,
.panel-title > a:focus{
  color: #2aaebf;
}

.single-counter .counter-label::after {
  background-color: #2aaebf;  
}

.price-title {
  background-color: #2aaebf;
}

.purchase-btn:hover,
.purchase-btn:focus{
  background-color: #2aaebf;
  border-color: #2aaebf;  
}

.featured-price .price-header{
  background-color: #2aaebf;
}

.featured-price .purchase-btn{
  background-color: #2aaebf;
  border-color: #2aaebf;
}

.team-member-img {  
  
}

.single-team-member:hover{
  /*border: 2px solid #2aaebf;*/
}

.single-team-member:hover .team-member-link{
  background-color: #2aaebf;  
}

.team-member-link {
  border: 2px solid #2aaebf;
}

.testimonial-content h6 span {
  color: #2aaebf;
}

.testimonial-slider .slick-dots li {
  border: 1px solid #2aaebf; 
}

.blog-news-title h2>a:hover{
  color: #2aaebf;  
}

.add_btn_css:hover {
    background-color: #fff !important;
    border-color: #fff !important;
}

.blog-news-title .blog-author:hover{
  color: #2aaebf;
}

.blog-more-btn:hover,
.blog-more-btn:focus{
  color: #2aaebf;  
}

.subscribe-btn {
  background-color: #2aaebf;
}

.scrollToTop {
  background-color: #2aaebf;
}

.scrollToTop:hover,
.scrollToTop:focus{
  color: #2aaebf;
  border: 1px solid #2aaebf; 
}

.portfolio-menu ul li:hover,
.portfolio-menu ul li.active{
  background-color: #2aaebf;
  border-color: #2aaebf; 
}

.single-item-content::after {
  border: 4px solid #2aaebf;  
}

.view-icon:hover{
  color: #2aaebf;
}

.pagination-nav li a:hover,
.pagination-nav li a:focus { 
  background-color: #2aaebf;
  border-color: #2aaebf; 
}

.sidebar-widget ul>li>a:hover{
  color: #2aaebf;
}

.search-group .blog-search-btn {
  background-color: #2aaebf;  
}

.search-group input[type="search"] {  
  border: 1px solid #2aaebf;  
}

.search-group input[type="search"]:focus{
  border-color: #2aaebf;
}

.widget-title::after {
  background-color: #2aaebf;  
}

.widget-catg li{
  color: #2aaebf;
}

.widget-catg li a:hover,
.widget-catg li a:focus{
  color: #2aaebf; 
}

.tag-cloud a:hover,
.tag-cloud a:focus{
  background-color: #2aaebf;
  border-color: #2aaebf;  
}

.widget-archive li a:hover,
.widget-archive li a:focus{
  color: #2aaebf;
}

.blog-single-tag a:hover,
.blog-single-tag a:focus {
  color: #2aaebf;  
}

.blog-single-social a:hover,
.blog-single-social a:focus {  
  color: #2aaebf;
  border-color: #2aaebf;
}

.blog-navigation-prev a>span{
  color: #2aaebf;  
}

.blog-navigation-next a>span{
  color: #2aaebf;  
}

.comments-form .form-control:focus {
  border-color: #2aaebf;  
}

.comments-box-area h2::after {
  background-color: #2aaebf;
}

.comment-btn:hover{
  background-color: #2aaebf;
  border-color: #2aaebf;  
}

.contact-area-left h4::after {
  background-color: #2aaebf;
}

#login-content .form-control:focus {
  border-color: #2aaebf;  
}

.loginbox .signin-btn {
  background-color: #2aaebf;  
}

.footer-box a:hover,
.footer-box a:focus{
  color: #2aaebf;
}

#signup-content .modal-title {
  color: #2aaebf;
}

#signup-content .form-control:focus {
  border-color: #2aaebf;  
}

.signupbox span a:hover{
  color: #2aaebf; 
}

.navbar-default .navbar-toggle {
  border-color: #2aaebf;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #2aaebf;
}

#search-icon {
  color: #2aaebf;  
}

#login-content .modal-title {
  color: #1d1d1d;
}

.service-icon {
  color: #2aaebf;
}

.footer-left p a:hover{
  color: #2aaebf;
}

.footer-right a:hover{
  color: #2aaebf;
}

.single-page-header-right .breadcrumb li{
  color: #2aaebf;
}

.error-title {
  background-color: #2aaebf;
  border: 2px solid #2aaebf;  
}

.error-content span {
  color: #2aaebf; 
}

.error-content .error-home {
  background-color: #2aaebf;  
}

.header-contact ul li a{color:#949494}
/*=======================================
Template Design By MarkUps.
Author URI : http://www.markups.io/
========================================*/